
<div class="container">

  <div class="jumbotron">
  <div class="page-header">
    <h1>Shirts <small>Because we have to wear things</small></h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "t-shirt.png", class: "img-responsive" %>
    </div>
    <div class="col-md-8">
      <% @shirts.each do |shirt| %>

        <div class="media">
          <%= link_to shirt, class: "pull-left" do %>
            <%= image_tag shirt.photo.url(:thumb), class: "media-object img-responsive shirt-image img-thumbnail"%>
          <% end %>
          <div class="media-body">
            <h4 class="media-heading"><%= shirt.name %></h4>
            <p><%= shirt.description %></p>
            <%= link_to "Shirt", shirt %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
